header {
    background-color: rgb(255, 185, 35);
}

.pesquisa {
    width: 100%;
}

.pesquisa {
    padding-top: 24px;
}

.pesquisa input {
    width: 80%;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-produtos .nav-link.active {
    background-color: rgb(168, 124, 27);
}

.nav-produtos .nav-link {
    color: rgb(168, 124, 27);
}

.tab-content {
    text-align: center;
}

#banner {
    background-color: rgb(226, 226, 226);
}

#produtos {
    background-color: rgb(226, 226, 226);
}

#contato {
    background-color: rgb(255, 185, 35);
}

#contato form {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

#contato form label {
    font-size: large;
    font-weight: bolder;
}

#contato form input {
    width: 40%;
}

#contato form label,
#contato form button {
    margin: 8px;
}

#socials {
    display: inline;
}

#socials a {
    text-decoration: none;
    padding-right: 12px;
}

#socials a i {
    color: black;
}

#aaa h2,
#aaa h4,
#aaa #socials {
    display: flex;
    justify-content: center;
}

.carousel-inner img {
    width: 100%;
    padding: 24px;
}